/* Base button styles */

.c-btn {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  font: var(--font-primary);
  border: 2px solid var(--color-light);
  /* border-radius: 24px; */
  background-color: transparent;
}

.c-btn:not(:last-child) {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.c-btn:disabled,
.c-btn.c-btn--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.c-btn:focus {
  outline: none;
}

/* Button color modifiers */

.c-btn--primary {
  background-color: rgb(var(--color-primary-default));
  border: 2px solid rgb(var(--color-primary-default));
  color: var(--color-light);
}

.c-btn--primary:hover:not(:disabled):not(.c-btn--disabled),
.c-btn--primary:focus:not(:disabled):not(.c-btn--disabled) {
  background-color: rgb(var(--color-primary-light));
  border-color: rgb(var(--color-primary-light));
}

.c-btn--primary:active:not(:disabled):not(.c-btn--disabled) {
  background-color: rgb(var(--color-primary-dark));
  border-color: rgb(var(--color-primary-dark));
}

.c-btn--success {
  background-color: rgb(var(--color-success-default));
  border: 2px solid rgb(var(--color-success-default));
  color: var(--color-light);
}

.c-btn--success:hover:not(:disabled):not(.c-btn--disabled),
.c-btn--success:focus:not(:disabled):not(.c-btn--disabled) {
  background-color: rgb(var(--color-success-light));
  border: 2px solid rgb(var(--color-success-light));
}

.c-btn--success:active:not(:disabled):not(.c-btn--disabled) {
  background-color: rgb(var(--color-success-dark));
  border: 2px solid rgb(var(--color-success-dark));
}

.c-btn--error {
  background-color: rgb(var(--color-error-default));
  border: 2px solid rgb(var(--color-error-default));
  color: var(--color-light);
}

.c-btn--error:hover:not(:disabled):not(.c-btn--disabled),
.c-btn--error:focus:not(:disabled):not(.c-btn--disabled) {
  background-color: rgb(var(--color-error-light));
  border: 2px solid rgb(var(--color-error-light));
}

.c-btn--error:active:not(:disabled):not(.c-btn--disabled) {
  background-color: rgb(var(--color-error-dark));
  border: 2px solid rgb(var(--color-error-dark));
}

.c-btn--warning {
  background-color: rgb(var(--color-warning-default));
  border: 2px solid rgb(var(--color-warning-default));
  color: var(--color-light);
}

.c-btn--warning:hover:not(:disabled):not(.c-btn--disabled),
.c-btn--warning:focus:not(:disabled):not(.c-btn--disabled) {
  background-color: rgb(var(--color-warning-light));
  border: 2px solid rgb(var(--color-warning-light));
}

.c-btn--warning:active:not(:disabled):not(.c-btn--disabled) {
  background-color: rgb(var(--color-warning-dark));
  border: 2px solid rgb(var(--color-warning-dark));
}

/* Outline button */

.c-btn--outline-primary {
  background-color: transparent;
  border: 2px solid rgb(var(--color-primary-default));
  color: rgb(var(--color-primary-default));
}

.c-btn--outline-primary:hover:not(:disabled):not(.c-btn--disabled),
.c-btn--outline-primary:focus:not(:disabled):not(.c-btn--disabled) {
  border: 2px solid rgb(var(--color-primary-light));
  color: rgb(var(--color-primary-light));
}

.c-btn--outline-primary:active:not(:disabled):not(.c-btn--disabled) {
  border: 2px solid rgb(var(--color-primary-dark));
  color: rgb(var(--color-primary-dark));
}

.c-btn--outline-success {
  background-color: transparent;
  border: 2px solid rgb(var(--color-success-default));
  color: rgb(var(--color-success-default));
}

.c-btn--outline-success:hover:not(:disabled):not(.c-btn--disabled),
.c-btn--outline-success:focus:not(:disabled):not(.c-btn--disabled) {
  border: 2px solid rgb(var(--color-success-light));
  color: rgb(var(--color-success-light));
}

.c-btn--outline-success:active:not(:disabled):not(.c-btn--disabled) {
  border: 2px solid rgb(var(--color-success-dark));
  color: rgb(var(--color-success-dark));
}

.c-btn--outline-error {
  background-color: transparent;
  border: 2px solid rgb(var(--color-error-default));
  color: rgb(var(--color-error-default));
}

.c-btn--outline-error:hover:not(:disabled):not(.c-btn--disabled),
.c-btn--outline-error:focus:not(:disabled):not(.c-btn--disabled) {
  border: 2px solid rgb(var(--color-error-light));
  color: rgb(var(--color-error-light));
}

.c-btn--outline-error:active:not(:disabled):not(.c-btn--disabled) {
  border: 2px solid rgb(var(--color-error-dark));
  color: rgb(var(--color-error-dark));
}

.c-btn--outline-warning {
  background-color: transparent;
  border: 2px solid rgb(var(--color-warning-default));
  color: rgb(var(--color-warning-default));
}

.c-btn--outline-warning:hover:not(:disabled):not(.c-btn--disabled),
.c-btn--outline-warning:focus:not(:disabled):not(.c-btn--disabled) {
  border: 2px solid rgb(var(--color-warning-light));
  color: rgb(var(--color-warning-light));
}

.c-btn--outline-warning:active:not(:disabled):not(.c-btn--disabled) {
  border: 2px solid rgb(var(--color-warning-dark));
  color: rgb(var(--color-warning-dark));
}

.c-btn--outline-primary:disabled,
.c-btn--outline-success:disabled,
.c-btn--outline-error:disabled {
  cursor: not-allowed;
  background-color: transparent;
  border-color: var(--color-text-muted);
  color: var(--color-text-muted);
}

/* Button size modifiers */

.c-btn--small {
  padding: 5px 28px;
  border-radius: 4px;
  line-height: 18px;
  font-size: var(--font-size-normal);
}

.c-btn--medium {
  padding: 8px 38px;
  border-radius: 4px;
  line-height: 28px;
  font-size: var(--font-size-medium);
}

.c-btn--large {
  padding: 12px 46px;
  border-radius: 4px;
  line-height: 35px;
  font-size: var(--font-size-large);
}

/* Button size modifiers rounded */

.c-btn--small.c-rounded {
  padding: 5px 28px;
  border-radius: 16px;
  line-height: 18px;
  font-size: var(--font-size-normal);
}

.c-btn--medium.c-rounded {
  padding: 8px 38px;
  border-radius: 24px;
  line-height: 28px;
  font-size: var(--font-size-medium);
}

.c-btn--large.c-rounded {
  padding: 12px 46px;
  border-radius: 31px;
  line-height: 35px;
  font-size: var(--font-size-large);
}

/* Icon label button  */

.c-btn--icon-label .c-icon {
  margin: -4px 9px -3px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.c-btn--icon-label-right .c-icon {
  margin: -4px 0 -3px 9px;
}

/* Icon button */

.c-btn--icon .c-icon {
  margin: -4px 0 -3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.c-btn--icon.c-btn--small {
  padding: 5px 2px;
}

.c-btn--icon.c-btn--medium {
  padding: 8px 6px;
}

.c-btn--icon.c-btn--large {
  padding: 11px 9px;
}

/* Inline link */

.c-link {
  font: var(--font-secondary);
  color: rgb(var(--color-primary-default));
  text-decoration: none;
  cursor: pointer;
  word-wrap: break-word;
}

.c-link:hover {
  color: rgb(var(--color-primary-light));
}

.c-link:active {
  color: rgb(var(--color-primary-dark));
}

.c-link:focus {
  outline: none;
}

a.c-btn {
  text-decoration: none;
}