:root {
  --checkbox-square-size: 16px;
}

.c-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-checkbox>label {
  padding-left: 8px;
  cursor: pointer;
  font: var(--font-secondary);
  color: var(--color-text-body);
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.c-checkbox--disabled>label {
  cursor: not-allowed;
  color: var(--color-text-muted);
}

.c-checkbox>input[type='checkbox'] {
  position: absolute;
  width: var(--checkbox-square-size);
  height: var(--checkbox-square-size);
  margin: 4px 0;
  opacity: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  cursor: pointer;
  z-index: var(--z-index-1);
}

.c-checkbox__shape::before {
  display: inline-block;
  width: var(--checkbox-square-size);
  height: var(--checkbox-square-size);
  content: '';
  border: 2px solid rgb(var(--color-primary-default));
  border-radius: 2px;
}

.c-checkbox__shape::after {
  position: absolute;
  top: 5px;
  left: 3px;
  width: 10px;
  height: 6px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #fff;
  border-bottom: 2px solid;
  border-left: 2px solid;
}

.c-checkbox--indeterminate>.c-checkbox__shape::after {
  top: 9px;
  left: 4px;
  width: 8px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  border-left: 0;
}

.c-checkbox--indeterminate>input[type='checkbox']:disabled~.c-checkbox__shape::before {
  background-color: var(--color-text-muted);
}

.c-checkbox>input[type='checkbox']:focus~.c-checkbox__shape::before {
  -webkit-box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.c-checkbox>input[type='checkbox']:checked~.c-checkbox__shape::before {
  border-color: rgb(var(--color-primary-default));
  background-color: rgb(var(--color-primary-default));
}

.c-checkbox>input[type='checkbox']:disabled~.c-checkbox__shape::before {
  border-color: var(--color-text-muted);
}

.c-checkbox>input[type='checkbox']:checked:disabled~.c-checkbox__shape::before {
  background-color: var(--color-text-muted);
}

.c-checkbox>input[type='checkbox']:disabled {
  cursor: not-allowed;
}

.c-checkbox>input[type='checkbox']:hover:not(:disabled)~.c-checkbox__shape::before {
  border-color: rgb(var(--color-primary-default));
}