/* Input base */

.c-input:not(:last-child) {
    margin-bottom: .75rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-input input[type="text"],
.c-input input[type="password"],
.c-input input[type="email"],
.c-input input[type="url"],
.c-input input[type="date"],
.c-input input[type="month"],
.c-input input[type="time"],
.c-input input[type="datetime"],
.c-input input[type="datetime-local"],
.c-input input[type="week"],
.c-input input[type="number"],
.c-input input[type="search"],
.c-input input[type="tel"],
.c-input input[type="color"],
.c-input select,
.c-input textarea {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid rgb(var(--color-primary-default));
    border-radius: 4px;
    background-color: #fff;
    font: var(--font-secondary);
    color: rgb(var(--color-primary-default));
}

.c-input>label {
    margin-bottom: 5px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    pointer-events: none;
    color: rgb(var(--color-primary-default));
    font: var(--font-secondary);
}

/* Placeholder */

.c-input>input::-webkit-input-placeholder {
    color: rgb(var(--color-primary-default));
}

.c-input>input:-ms-input-placeholder {
    color: rgb(var(--color-primary-default));
}

.c-input>input::-ms-input-placeholder {
    color: rgb(var(--color-primary-default));
}

.c-input>input::placeholder {
    color: rgb(var(--color-primary-default));
}

/* Input focus */

.c-input>input:focus,
.c-input>textarea:focus {
    outline: none;
    border: 2px solid rgb(var(--color-primary-default));
}

/* Input validated */

.c-input--validated>input,
.c-input--validated>input:focus {
    border: 2px solid rgb(var(--color-success-default));
}

.c-input--validated>label {
    color: var(--color-text-body);
}

.c-input--validated>input:focus+label {
    color: var(--color-success-default);
}

/* Input invalid  */

.c-input--invalid>input,
.c-input--invalid>input:focus {
    border: 2px solid rgb(var(--color-error-default));
}

.c-input--invalid>label {
    color: var(--color-text-body);
}

.c-input--invalid>input:focus+label {
    color: var(--color-error-default);
}

/* Input disabled */

.c-input--disabled>input:disabled,
.c-input--disabled>textarea:disabled {
    cursor: not-allowed;
    border: 2px solid var(--color-light);
    background-color: var(--color-light);
    color: var(--color-text-muted);
}

.c-input--disabled>label {
    color: var(--color-text-muted);
}

.c-input--disabled.c-input--validated::after,
.c-input--disabled.c-input--invalid::after {
    background-color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::-webkit-input-placeholder {
    color: var(--color-text-muted);
}

.c-input--disabled>input:disabled:-ms-input-placeholder {
    color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::-ms-input-placeholder {
    color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::placeholder {
    color: var(--color-text-muted);
}

.c-input--disabled>input:disabled+label,
.c-input--disabled>textarea:disabled+label {
    cursor: not-allowed;
    color: var(--color-text-muted);
}