:root {
  --checkbox-square-size: 16px;
}


/* Input base */

.c-input:not(:last-child) {
  margin-bottom: .75rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-input input[type="text"],
.c-input input[type="password"],
.c-input input[type="email"],
.c-input input[type="url"],
.c-input input[type="date"],
.c-input input[type="month"],
.c-input input[type="time"],
.c-input input[type="datetime"],
.c-input input[type="datetime-local"],
.c-input input[type="week"],
.c-input input[type="number"],
.c-input input[type="search"],
.c-input input[type="tel"],
.c-input input[type="color"],
.c-input select,
.c-input textarea {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid rgb(var(--color-primary-default));
  border-radius: 4px;
  background-color: #fff;
  font: var(--font-secondary);
  color: rgb(var(--color-primary-default));
}

.c-input>label {
  margin-bottom: 5px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  pointer-events: none;
  color: rgb(var(--color-primary-default));
  font: var(--font-secondary);
}

/* Placeholder */

.c-input>input::-webkit-input-placeholder {
  color: rgb(var(--color-primary-default));
}

.c-input>input:-ms-input-placeholder {
  color: rgb(var(--color-primary-default));
}

.c-input>input::-ms-input-placeholder {
  color: rgb(var(--color-primary-default));
}

.c-input>input::placeholder {
  color: rgb(var(--color-primary-default));
}

/* Input focus */

.c-input>input:focus,
.c-input>textarea:focus {
  outline: none;
  border: 2px solid rgb(var(--color-primary-default));
}

/* Input validated */

.c-input--validated>input,
.c-input--validated>input:focus {
  border: 2px solid rgb(var(--color-success-default));
}

.c-input--validated>label {
  color: var(--color-text-body);
}

.c-input--validated>input:focus+label {
  color: var(--color-success-default);
}

/* Input invalid  */

.c-input--invalid>input,
.c-input--invalid>input:focus {
  border: 2px solid rgb(var(--color-error-default));
}

.c-input--invalid>label {
  color: var(--color-text-body);
}

.c-input--invalid>input:focus+label {
  color: var(--color-error-default);
}

/* Input disabled */

.c-input--disabled>input:disabled,
.c-input--disabled>textarea:disabled {
  cursor: not-allowed;
  border: 2px solid var(--color-light);
  background-color: var(--color-light);
  color: var(--color-text-muted);
}

.c-input--disabled>label {
  color: var(--color-text-muted);
}

.c-input--disabled.c-input--validated::after,
.c-input--disabled.c-input--invalid::after {
  background-color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::-webkit-input-placeholder {
  color: var(--color-text-muted);
}

.c-input--disabled>input:disabled:-ms-input-placeholder {
  color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::-ms-input-placeholder {
  color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::placeholder {
  color: var(--color-text-muted);
}

.c-input--disabled>input:disabled+label,
.c-input--disabled>textarea:disabled+label {
  cursor: not-allowed;
  color: var(--color-text-muted);
}

/* Checkbox */

.c-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-checkbox>label {
  padding-left: 8px;
  cursor: pointer;
  font: var(--font-secondary);
  color: var(--color-text-body);
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.c-checkbox--disabled>label {
  cursor: not-allowed;
  color: var(--color-text-muted);
}

.c-checkbox>input[type='checkbox'] {
  position: absolute;
  width: var(--checkbox-square-size);
  height: var(--checkbox-square-size);
  margin: 4px 0;
  opacity: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  cursor: pointer;
  z-index: var(--z-index-1);
}

.c-checkbox__shape::before {
  display: inline-block;
  width: var(--checkbox-square-size);
  height: var(--checkbox-square-size);
  content: '';
  border: 2px solid rgb(var(--color-primary-default));
  border-radius: 2px;
}

.c-checkbox__shape::after {
  position: absolute;
  top: 5px;
  left: 3px;
  width: 10px;
  height: 6px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #fff;
  border-bottom: 2px solid;
  border-left: 2px solid;
}

.c-checkbox--indeterminate>.c-checkbox__shape::after {
  top: 9px;
  left: 4px;
  width: 8px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  border-left: 0;
}

.c-checkbox--indeterminate>input[type='checkbox']:disabled~.c-checkbox__shape::before {
  background-color: var(--color-text-muted);
}

.c-checkbox>input[type='checkbox']:focus~.c-checkbox__shape::before {
  -webkit-box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.c-checkbox>input[type='checkbox']:checked~.c-checkbox__shape::before {
  border-color: rgb(var(--color-primary-default));
  background-color: rgb(var(--color-primary-default));
}

.c-checkbox>input[type='checkbox']:disabled~.c-checkbox__shape::before {
  border-color: var(--color-text-muted);
}

.c-checkbox>input[type='checkbox']:checked:disabled~.c-checkbox__shape::before {
  background-color: var(--color-text-muted);
}

.c-checkbox>input[type='checkbox']:disabled {
  cursor: not-allowed;
}

.c-checkbox>input[type='checkbox']:hover:not(:disabled)~.c-checkbox__shape::before {
  border-color: rgb(var(--color-primary-default));
}