/* Icon base */

.c-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-color: var(--color-moon-900);
  font-size: var(--font-size-4base);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Icon size */

.c-icon--size-small {
  font-size: var(--font-size-large);
}

.c-icon--size-medium {
  font-size: var(--font-size-x-large);
}

.c-icon--size-large {
  font-size: var(--font-size-xx-large);
}