/* Input base */

.c-input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-input>input,
.c-input>textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--color-text-muted);
    border-radius: 8px;
    background-color: #ffffff;
    font: var(--font-secondary);
    color: var(--color-text-body);
}

.c-input>label {
    margin-bottom: 5px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    pointer-events: none;
    color: var(--color-text-muted);
    font: var(--font-secondary);
}

.c-input>input::-webkit-input-placeholder {
    color: var(--color-text-muted);
}

.c-input>input:-ms-input-placeholder {
    color: var(--color-text-muted);
}

.c-input>input::-ms-input-placeholder {
    color: var(--color-text-muted);
}

.c-input>input::placeholder {
    color: var(--color-text-muted);
}

/* Input focus */

.c-input>input:focus,
.c-input>textarea:focus {
    outline: none;
    border: 1px solid var(--color-text-body);
}

/* Input validated */

.c-input--validated>input,
.c-input--validated>input:focus {
    border: 1px solid var(--color-success-default);
}

.c-input--validated>label {
    color: var(--color-text-body);
}

.c-input--validated>input:focus+label {
    color: var(--color-success-default);
}

/* Input invalid  */

.c-input--invalid>input,
.c-input--invalid>input:focus {
    border: 1px solid var(--color-error-default);
}

.c-input--invalid>label {
    color: var(--color-text-body);
}

.c-input--invalid>input:focus+label {
    color: var(--color-error-default);
}

/* Input disabled */

.c-input--disabled>input:disabled,
.c-input--disabled>textarea:disabled {
    cursor: not-allowed;
    border: 1px solid var(--color-light);
    background-color: var(--color-light);
    color: var(--color-text-muted);
}

.c-input--disabled.c-input--validated::after,
.c-input--disabled.c-input--invalid::after {
    background-color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::-webkit-input-placeholder {
    color: var(--color-text-muted);
}

.c-input--disabled>input:disabled:-ms-input-placeholder {
    color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::-ms-input-placeholder {
    color: var(--color-text-muted);
}

.c-input--disabled>input:disabled::placeholder {
    color: var(--color-text-muted);
}

.c-input--disabled>input:disabled+label,
.c-input--disabled>textarea:disabled+label {
    cursor: not-allowed;
    color: var(--color-text-muted);
}