:root {
    --color-light: #e9eef2;
    --color-text-muted: #adb5bd;
    --color-text-body: #636f7a;
    --color-text-title: #212529;
    --color-primary-light: 136, 126, 242;
    --color-primary-default: 115, 103, 240;
    --color-primary-dark: 94, 80, 238;
    --color-success-light: 51, 214, 124;
    --color-success-default: 40, 199, 111;
    --color-success-dark: 36, 178, 99;
    --color-error-light: 255, 97, 110;
    --color-error-default: 255, 71, 87;
    --color-error-dark: 255, 46, 64;
    --color-warning-light: 255, 193, 26;
    --color-warning-default: 255, 186, 0;
    --color-warning-dark: 230, 167, 0;
    --font-size-small: 8px;
    --font-size-normal: calc(var(--font-size-small) * 1.5);
    --font-size-medium: calc(var(--font-size-small) * 2);
    --font-size-large: calc(var(--font-size-small) * 3);
    --font-size-x-large: calc(var(--font-size-small) * 4);
    --font-size-xx-large: calc(var(--font-size-small) * 5);
    --font-primary: normal normal 600 normal var(--font-size-medium)/1.5 Poppins, sans-serif;
    --font-secondary: normal normal 400 normal var(--font-size-medium)/1.5 Lato, sans-serif;
    --z-index-1: 10;
    --z-index-2: 20;
    --z-index-3: 30;
    --z-index-4: 40;
    --checkbox-size: 16px;
}